@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */
.upper_nav {
    @apply bg-black flex px-12 items-center leading-[45px];
}

.upper_nav>div {
    @apply flex-1 w-6/12 overflow-hidden my-auto;
}

.upper_nav>.social_icons {
    @apply flex-1 justify-end flex items-center text-white;
}

.navbar {
    @apply flex px-12 border py-5 border-b border-gray-300 justify-between items-center;
}

.lower_nav {
    @apply flex px-12 border border-b border-t-0 border-gray-300 items-center justify-between;
}

.lower_nav .dropdown-menu {
    @apply h-16 flex items-center bg-black text-white p-7 pl-7 gap-7;
}

.lower_nav ul {
    @apply flex gap-4 items-center flex-wrap;
}

.lower_nav li {
    @apply font-medium uppercase;
}

.lower_nav li:hover {
    @apply text-primary-hover cursor-pointer;
}



.menus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.menu-items {
    position: relative;
    font-size: 14px;
}

.menu-items a:not(:first-child) {
    color: white;
}

.menu-items a {
    color: black;
}

.menu-items button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

button span {
    margin-left: 3px;
}

.menu-items>a,
.menu-items button {
    text-align: left;
    padding: 0.7rem 1rem;
}

.dropdown {
    @apply absolute right-0 left-0 border border-gray-200 text-xs z-50 min-w-[10rem] py-2 list-none bg-white !hidden;
}

.dropdown.show {
    @apply !block p-0;
}

.dropdown .dropdown-submenu {
    @apply absolute left-full top-[6px] text-black;
}

.dropdown>.menu-items {
    @apply h-10 w-full flex;
}

.dropdown .dropdown-submenu>.menu-items {
    @apply border-b border-gray-rgb py-[10px] flex items-center;
}

.dropdown .dropdown-submenu>.menu-items:hover {
    background-color: rgba(247, 247, 247, 0.414);
    text-decoration: underline;
    text-decoration-color: black;
}

.dropdown .dropdown-submenu>.menu-items:last-child {
    border: none;
}

.dropdown .dropdown-submenu .menu-items>button {
    @apply p-0 px-4 text-black flex justify-between;
}

/* header */

/* Example styles for the animation */
.accordion {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.accordion-open {
    max-height: 200px;
    /* Set an appropriate value for your submenu's maximum height */
}

.accordion-content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.accordion-content-open {
    opacity: 1;
}